<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Let It Out</Name>
    <Version>1.0.0</Version>
    <Title>Let It Out Installer</Title>
    <Publisher>Night</Publisher>
    <TargetDir>@ApplicationsDirX64@/LetItOut</TargetDir>
    <ProductImages>
        <ProductImage>
            <Image>Built_with_Qt.png</Image>
            <Url>https://www.qt.io/blog</Url>
        </ProductImage>
        <ProductImage>
            <Image>Built_with_Qt_logo.png</Image>
            <Url>https://www.qt.io/</Url>
        </ProductImage>
    </ProductImages>
</Installer>
